body {
    background-color: #000000;
}

.navbar-dark .navbar-brand {
    color: #f00;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #f00;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: blue;
}

#searchbtn {
    border: 1px #f00 solid;
    background-color: #212529;
    color: #f00;
}

#searchbtn:hover {
    background-color: #f00;
    color: #212529;
}

.container {
    margin-top: 30px;
}